__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

/.venv

/conf/vm-manager.conf
/conf/machines.conf

/pkg/usr
/pkg/*.deb
/pkg/*.rpm
/pkg/*.pkg.tar.gz
/pkg/vm-manager_*
/pkg/rpmbuild
/pkg/package-build
